body {
    padding-left: 200px;
    padding-top: 100px;
    width: 600px;
    color: #4d4d4d;
}
a {
    color: #4d4d4d;
}
a:hover {
    color: #99ffe6;
}
h1 {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}
h3 {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}
p, ul {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
pre {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
img {
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}